# Initial Analysis of King County Housing Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('../data/kc_house_data.csv')
pd.set_option('display.max_columns', False)

In [7]:
df.head(10)

           id        date      price  ...     long  sqft_living15  sqft_lot15
0  7129300520  10/13/2014   221900.0  ... -122.257           1340        5650
1  6414100192   12/9/2014   538000.0  ... -122.319           1690        7639
2  5631500400   2/25/2015   180000.0  ... -122.233           2720        8062
3  2487200875   12/9/2014   604000.0  ... -122.393           1360        5000
4  1954400510   2/18/2015   510000.0  ... -122.045           1800        7503
5  7237550310   5/12/2014  1230000.0  ... -122.005           4760      101930
6  1321400060   6/27/2014   257500.0  ... -122.327           2238        6819
7  2008000270   1/15/2015   291850.0  ... -122.315           1650        9711
8  2414600126   4/15/2015   229500.0  ... -122.337           1780        8113
9  3793500160   3/12/2015   323000.0  ... -122.031           2390        7570

[10 rows x 21 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [13]:
condition_counts = df['condition'].value_counts()
grade_counts = df['grade'].value_counts()
renovation_counts = df['yr_renovated'].value_counts()

In [20]:
print(f'Condition value counts:\n{condition_counts}\n')
print(f'Grade value counts:\n{grade_counts}\n')
print(f'Renovation year value counts:\n{renovation_counts}\n')

Condition value counts:
Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

Grade value counts:
7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

Renovation year value counts:
0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

#### Initial thoughts

- Is `id` going to be useful in any way? It doesn't seem like an instance where a 'unique identifier' is going to provide us with any information we can use for prediction.
- How should we approach `sqft_living` vs. `sqft_lot`?
    - Running a heat map proves that these variables have a colinearity coefficient of `0.88`; it's likely we'll need to choose one or the other for a linear model.
- `yr_renovated` has a fairly substantial number of null values (~4,000), and an even greater number of records with value `0.0`, which likely indicates that no renovation has been done to the house (need to check data dictionary).
    - Heat map examination also indicates a low correlation, < 0.1, between `yr_built` and `price`.
- Because `sqft_living` refers to a record and `sqft_living15` refers to properties in the geographical vicinity of that record, we can compare the values stored in these two columns in a given row to determine if a home's square footage is greater than or less than nearby homes.